# BASE
BASE_URL=

# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# mail
MAIL_USERNAME=
MAIL_PASSWORD=

MAIL_SET_FROM=
MAIL_TO=

# JWT
JWT_SECRET=
JWT_EXPIRATION_MS=

# YANDEX
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URI=

# oauth2
SUCCESS_REDIRECT=
FAILURE_REDIRECT=